### Reversing a Python String

In [2]:
gfg = "python introduction"
print(gfg[::-1])

noitcudortni nohtyp

### Python String Slicing

`a[start:stop:step]`

---+---+---+---+---+---+   
 | P | y | t | h | o | n |   
 +---+---+---+---+---+---+   
 0   1   2   3   4   5   6   
-6  -5  -4  -3  -2  -1

In [3]:
String1 = "python introduction"
print("Initial String: ")
print(String1)
 
# Printing 3rd to 12th character
print("\nSlicing characters from 3-12: ")
print(String1[3:12])
 
# Printing characters between
# 3rd and 2nd last character
print("\nSlicing characters between " +
      "3rd and 2nd last character: ")
print(String1[3:-2])

Initial String:
python introduction

Slicing characters from 3-12:
hon intro

Slicing characters between 3rd and 2nd last character:
hon introducti

### Deleting a string
-> updated to charachters are not allowed.

In [4]:
String1 = "Hello, I'm a Pythonista"
print("Initial String: ")
print(String1)
 
# Updating a character of the String
## As python strings are immutable, they don't support item updation directly
### there are following two ways
#1
list1 = list(String1)
list1[2] = 'p'
String2 = ''.join(list1)
print("\nUpdating character at 2nd Index: ")
print(String2)
 
#2
String3 = String1[0:2] + 'p' + String1[3:]
print(String3)

Initial String:
Hello, I'm a Pythonista

Updating character at 2nd Index:
Heplo, I'm a Pythonista
Heplo, I'm a Pythonista

### Logical Operators on String in Python

In [5]:
str1 = ''
str2 = 'python'
 
# repr is used to print the string along with the quotes
 
# Returns str1
print(repr(str1 and str2)) 
 
# Returns str1  
print(repr(str2 and str1))
 
# Returns str2    
print(repr(str1 or str2))  
 
# Returns str2  
print(repr(str2 or str1))      
 
str1 = 'for'
 
# Returns str2
print(repr(str1 and str2)) 
 
# Returns str1  
print(repr(str2 and str1))
 
# Returns str1    
print(repr(str1 or str2)) 
 
# Returns str2    
print(repr(str2 or str1))      
 
str1='python'
 
# Returns False
print(repr(not str1))         
 
str1 = ''
 
# Returns True
print(repr(not str1))

''
''
'python'
'python'
'python'
'for'
'for'
'python'
False
True

### Formatting Strings

In [7]:
# Python Program for
# Formatting of Strings

# Default order
String1 = "{} {} {}".format('Python', 'For', 'Life')
print("Print String in default order: ")
print(String1)

# Positional Formatting
String1 = "{1} {0} {2}".format('Python', 'For', 'Life')
print("\nPrint String in Positional order: ")
print(String1)

# Keyword Formatting
String1 = "{l} {f} {g}".format(g='Python', f='For', l='Life')
print("\nPrint String in order of Keywords: ")
print(String1)

Print String in default order:
Python For Life

Print String in Positional order:
For Python Life

Print String in order of Keywords:
Life For Python

### Integers and rounding

In [ ]:
# Formatting of Integers
String1 = "{0:b}".format(16)
print("\nBinary representation of 16 is ")
print(String1)
 
# Formatting of Floats
String1 = "{0:e}".format(165.6458)
print("\nExponent representation of 165.6458 is ")
print(String1)
 
# Rounding off Integers
String1 = "{0:.2f}".format(1/6)
print("\none-sixth is : ")
print(String1)

### Old style formatting was done without the use of format method by using % operator

In [8]:
Integer1 = 12.3456789
print("Formatting in 3.2f format: ")
print('The value of Integer1 is %3.2f' % Integer1)
print("\nFormatting in 3.4f format: ")
print('The value of Integer1 is %3.4f' % Integer1)

Formatting in 3.2f format:
The value of Integer1 is 12.35

Formatting in 3.4f format:
The value of Integer1 is 12.3457

### String Manipulations
upper()  
lower()  
strip()  
replace()

In [10]:
#upper
a = "Hello, World!"
print(a.upper())

#lower
a = "Hello, World!"
print(a.lower())

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

a = "Hello, World!"
print(a.replace("H", "J"))

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

HELLO, WORLD!

In [ ]:
# concatenation
a = "Hello"
b = "World"
c = a + b
print(c)

### Length of String

In [9]:
x = "Hello World"
print(len(x))

11

### Write a program to find charachter that has lowest frequency

In [12]:
test_str = "TestString"
 
# printing original string
print ("The original string is : " + test_str)
 
# using naive method to get
# Least Frequent Character in String
all_freq = {}
for i in test_str:
 if i in all_freq:
  all_freq[i] += 1
 else:
  all_freq[i] = 1
res = min(all_freq, key = all_freq.get)
 
# printing result
print ("The minimum of all characters is : " + str(res))

The original string is : TestString
The minimum of all characters is : T

### Swap commas and dots in a String

Input : 14, 625, 498.002   
Output : 14.625.498, 002

In [13]:
def Replace(str1):
    maketrans = str1.maketrans
    final = str1.translate(maketrans(',.', '.,', ' '))
    return final.replace(',', ", ")
 
 
# Driving Code
string = "14, 625, 498.002"
print(Replace(string))

14.625.498, 002

### Given the string, the task is to capitalise the first and last character of each word in a string.
Input: hello world   
Output: HellO WorlD

In [16]:
def word_both_cap(str):
     
    #lambda function for capitalizing the
    # first and last letter of words in
    # the string
    return ' '.join(map(lambda s: s[:-1]+s[-1].upper(),
                        s.title().split()))
     
     
# Driver's code
s = "welcome to the class"
print("String before:", s)
print("String after:", word_both_cap(str))

String before: welcome to the class
String after: WelcomE TO ThE ClasS

### Remove all duplicates from a given string in Python

In [18]:
def removeDuplicate(str):
    s=set(str)
    s="".join(s)
    print("Without Order:",s)
    t=""
    for i in str:
        if(i in t):
            pass
        else:
            t=t+i
        print("With Order:",t)
     
str="helo python"
removeDuplicate(str)

Without Order: hyletno p
With Order: h
With Order: he
With Order: hel
With Order: helo
With Order: helo
With Order: helo p
With Order: helo py
With Order: helo pyt
With Order: helo pyt
With Order: helo pyt
With Order: helo pytn

### Access List Items

In [19]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

### Negative Indexing
-1 refers to the last item, -2 refers to the second last item etc.

In [20]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [21]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [22]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

#### Check item exists is list

In [25]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

### Change list Items

In [24]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

### Append

In [26]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

### Remove

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

### Looping

In [27]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

#### List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [31]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

Accept only numbers lower than 5:

In [32]:
newlist = [x for x in range(10) if x < 5]
newlist

[0, 1, 2, 3, 4]

### Lab: 
1. Set the values in the new list to upper case  
2. Return "orange" instead of "banana"

In [34]:
newlist = [x.upper() for x in fruits]
newlist = [x if x != "banana" else "orange" for x in fruits]

#### Sorting

In [35]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

Reverse Sorting

In [36]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

# Lists

### Join lists

In [37]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [38]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [39]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [40]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [41]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [42]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [43]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [44]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [45]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [46]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [47]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

# Labs

#### Python program to swap two elements in a list  
Input : List = [23, 65, 19, 90],   pos1 = 1, pos2 = 3   
Output : [19, 65, 23, 90]

In [48]:
def swapPositions(list, pos1, pos2):
     
    list[pos1], list[pos2] = list[pos2], list[pos1]
    return list
 
# Driver function
List = [23, 65, 19, 90]
pos1, pos2  = 1, 3
 
print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

#### Python program to check if the list contains three consecutive common numbers in Python

Input : [4, 5, 5, 5, 3, 8]   
Output : 5   

Input : [1, 1, 1, 64, 23, 64, 22, 22, 22]   

Output : 1, 22

In [49]:
arr = [4, 5, 5, 5, 3, 8]
  
# size of the list
size = len(arr)
  
# looping till length - 2
for i in range(size - 2):
  
    # checking the conditions
    if arr[i] == arr[i + 1] and arr[i + 1] == arr[i + 2]:
  
        # printing the element as the 
        # conditions are satisfied 
        print(arr[i])

5

#### List Replacements

The original list 1 is : [‘Gfg’, ‘is’, ‘best’]   
The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]   
The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’]

In [57]:
test_list1 = ['Gfg', 'is', 'best']
test_list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
  
res = [test_list1[idx] for idx in test_list2]
              
print(res)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

#### Write a Python program to sum all the items in a list.

In [ ]:
def sum_list(items):  
    sum_numbers = 0  
    for x in items:  
        sum_numbers += x  
    return sum_numbers  
print(sum_list([1,2,-8]))

#### Write a Python program to get the largest number from a list.

In [ ]:
def max_num_in_list( list ):  
    max = list[ 0 ]  
    for a in list:  
        if a > max:  
            max = a  
    return max  
print(max_num_in_list([1, 2, -8, 0]))

# Tuples

In [58]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [59]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [60]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

Tuple=>List=>Tuple

In [61]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

Unpacking

In [62]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

Looping

In [63]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

Using indexes

In [64]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

Joining two tupples

In [65]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

Multiply Tuples

In [66]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Labs

#### Remove tuples of a specific length

Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2   
Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]   
Explanation : (4, 5) of len = 2 is removed.

In [68]:
  
# initializing list
test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
  
# printing original list
print(test_list)
  
# initializing K 
K = 1
  
# 1 liner to perform task
# filter just lengths other than K 
# len() used to compute length
res = [ele for ele in test_list if len(ele) != K]
  
# printing result 
print(res)

[(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
[(4, 5), (8, 6, 7), (3, 4, 6, 7)]

#### Sum of tuple elements

In [70]:
test_tup = (7, 8, 9, 1, 10, 7)
 
# printing original tuple
print(test_tup)
 
# Tuple elements inversions
# Using list() + sum()
res = sum(list(test_tup))
 
# printing result
print(res)

(7, 8, 9, 1, 10, 7)
42

# Sets

access elements

In [71]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [72]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'apple', 'cherry', 'banana'}

In [73]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [74]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

Join sets (union)

In [75]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

update() method inserts the items in set2 into set1:

In [76]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'a', 'c'}

# Labs

#### Findd the common elements in a list

Input :   
lst1 = [15, 9, 10, 56, 23, 78, 5, 4, 9]  
lst2 = [9, 4, 5, 36, 47, 26, 10, 45, 87]  
Output :  
[9, 10, 4, 5]

In [78]:
def intersection(lst1, lst2):
    return list(set(lst1) & set(lst2))
 
# Driver Code
lst1 = [4, 9, 1, 17, 11, 26, 28, 54, 69]
lst2 = [9, 9, 74, 21, 45, 11, 63, 28, 26]
print(intersection(lst1, lst2))

[9, 26, 11, 28]

#### Given a set, write a Python program to generate all possible subset of size n of given set within a list.

Input : {1, 2, 3}, n = 2   
Output : [{1, 2}, {1, 3}, {2, 3}]

In [79]:
import itertools
 
def findsubsets(s, n):
    return list(itertools.combinations(s, n))
 
# Driver Code
s = {1, 2, 3}
n = 2
 
print(findsubsets(s, n))

[(1, 2), (1, 3), (2, 3)]

# Dictionaries

In [82]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
y = thisdict.get("hello","default")
z = thisdict.get("year","default")

print(x,y,z)

Mustang default 1964

In [83]:
thisdict.update({"year": 2020})

In [84]:
thisdict.pop("model")

'Mustang'

The popitem() method removes the last inserted item

In [85]:
thisdict.popitem()

('year', 2020)

In [86]:
thisdict

{'brand': 'Ford'}

Empty a dictionary

In [87]:
thisdict.clear()

In [88]:
thisdict

{}

In [89]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [90]:
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [91]:
for x in thisdict.keys():
  print(x)

brand
model
year

In [92]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

Copy a dictionary

In [93]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)

# Labs

#### Write a program to merge two dictionaries

In [94]:
def Merge(dict1, dict2):
    return(dict2.update(dict1))
 
 
# Driver code
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}
 
# This return None
print(Merge(dict1, dict2))
 
# changes made in dict2
print(dict2)

None
{'d': 6, 'c': 4, 'a': 10, 'b': 8}

#### Given a nested dictionary, perform inversion of keys, i.e innermost nested becomes outermost and vice-versa.
Input : 
```
test_dict = {
    “a” : {“b” : {}},  
    “d” : {“e” : {}},   
    “f” : {“g” : {}  
}  
```  
Output : `{‘b’: {‘a’: {}}, ‘e’: {‘d’: {}}, ‘g’: {‘f’: {}}`  
Explanation : Nested dictionaries inverted as outer dictionary keys and viz-a-vis.

In [97]:
def extract_path(test_dict, path_way):
    if not test_dict:
        return [path_way]
    temp = []
    for key in test_dict:
        temp.extend(extract_path(test_dict[key], path_way + [key]))
    return temp
  
# function to compute inversion
def hlper_fnc(test_dict):
    all_paths = extract_path(test_dict, [])
    res = {}
    for path in all_paths:
        front = res
        for ele in path[::-1]:
            if ele not in front :
                front[ele] = {}
            front = front[ele]
    return res
  
# initializing dictionary
test_dict = {"a" : {"b" : {"c" : {}}},
             "d" : {"e" : {}},
             "f" : {"g" : {"h" : {}}}}
  
# printing original dictionary
print(test_dict)
  
# calling helper function for task 
res = hlper_fnc(test_dict)
  
# printing result 
print(res)

{'a': {'b': {'c': {}}}, 'd': {'e': {}}, 'f': {'g': {'h': {}}}}
{'c': {'b': {'a': {}}}, 'e': {'d': {}}, 'h': {'g': {'f': {}}}}